*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# TS CDK projects created with cdk init ignore all .js files by default. 
# To track these files with git, add !lambda/*.js to your .gitignore file. 
# This ensures that your Lambda assets are discoverable during the Pipelines section of this tutorial.
!lambda/*.js
